
@model int

<div class="col-5 offset-1 py-2">
	<input type="submit" class="btn btn-info form-control"
		   asp-route="@Model" value="Update record" />
</div>
<div class="col-5 offset-1 py-2">
	<a asp-action="Index" class="btn btn-primary form-control">
		Go Back
	</a>
</div>