
@model string

@if (!String.IsNullOrEmpty(Model))
{
	var dBNotifications = Model.StartsWith("Warning") ? "warning" : "success";

	<div class="alert alert-@dBNotifications alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		@Model
	</div>
}