<div class='col-12'>
	<div class="page-title">
		<div class="float-left">
			<h1 class="title">All Profiles</h1>
		</div>
		<div class="float-right d-none">
			<ol class="breadcrumb">
				<li>
					<a href="index.html">
						<i class="fa fa-home"></i>Home
					</a>
				</li>
				<li>
					<a href="tables-basic.html">Tables</a>
				</li>
				<li class="active">
					<strong>Basic tables</strong>
				</li>
			</ol>
		</div>
	</div>
</div>
<div class="clearfix"></div>