<header class="panel_header">
	<h2 class="title float-left">Info</h2>
	<div class="actions panel_actions float-right">
		<a asp-action="Create" class="box_close fa fa-plus">
			Add record
		</a>
	</div>
</header>