
@model CruiseCMSDemo.Models.ViewModels.LandingPageViewModel

@{
	ViewData["Title"] = "Home Page";
}

	<section class="hero-banner">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-lg-12">
					<div class="banner-slogan text-center">
						<div class="inner-slogan">
					 
								@foreach (var place in Model.Itinerary)
								{
									<partial name="_DynamicBannerHeading" model="@Model.Itinerary.Where(
										place => place.Destination.Equals(place.Destination))" />
								}
							
								@*@foreach (var background in Model.Admin)
								{
									var base64 = Convert.ToBase64String(Model.Admin.ToList()[0].Image);
									var picture = string.Format("data:image/png;base64,{0}", base64);

									<img src="@picture" height="600px" width="1920px" class="banner-img" />
								}*@

								@foreach (var slogan in Model.Admin)
								{
									<partial name="_DynamicBannerSlogan" model="@Model.Admin.Where(
										slogan => slogan.Description.Equals(slogan.Description))" />
								}

							<a asp-action="Index" asp-controller="Admin" asp-area="Employee" 
							   class="big-btn">Change Me</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
